body {
  font-family: Arial, bebas, verdana, code, "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-bottom: 10em; }

.checkbox {
  margin-left: 1em; }

.realCheckbox {
  margin-right: 0.7em; }

button {
  position: relative;
  border: 2px solid #478bf9;
  background-color: #478bf9;
  color: #fafafa;
  border-radius: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer; }

button:hover {
  background-color: #fafafa;
  color: rgba(71, 139, 249, 0.7);
  border: 2px solid rgba(71, 139, 249, 0.7); }

button:after {
  content: "";
  background: rgba(71, 139, 249, 0.2);
  color: #fafafa;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }

.slidecontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-left: 1em; }

nouislider {
  width: 60%;
  margin: 0em 1.5em 0em 1.5em; }

/* Customize the label (the container) */
.containerCB {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.1em;
  margin-left: 1em;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.containerCB input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.containerCB:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.containerCB input:checked ~ .checkmark {
  background-color: rgba(71, 139, 249, 0.6); }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.containerCB input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.containerCB .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
