/* You can add global styles to this file, and also import other style files */
@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~nouislider/distribute/nouislider.min.css);
body {
  font-family: Arial, bebas, verdana, code, "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

title {
  font-style: ""; }

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

#head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  #head-title button {
    position: absolute;
    right: 2em;
    top: 1.3em;
    padding: 6px 0 6px 0;
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none; }

#core-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333; }
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center; }
    .navbar a:hover {
      background-color: #ddd;
      color: black; }
    .navbar a:active {
      background-color: #ddd;
      color: black; }
  .navbar .search-container {
    float: right; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5%;
  text-align: center;
  background: #ddd;
  position: fixed;
  bottom: 0em;
  width: 100%; }
  .footer p {
    text-align: right; }
