<button (click)="Clicked()">Afficher le chat de la recette</button>
<div *ngIf="displayChat">
  <div id="mario-chat">
    <!-- <span><i *ngIf="isTyping" class="isTyping">typing...</i></span> -->
    <div id="chat-window">
      <div *ngFor="let data of datas">
        {{data.message}}
      </div>
      <!-- <div id="feedback"></div> -->
    </div>
    <form>
      <input [(ngModel)]="message" name="message" type="text" value="send" placeholder="Message" />
      <button type="submit" label="send" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>
