/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "variables";
@import "mixin";
@import "reset.scss";
title {
  font-style: to-upper-case($string: "");
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#head-title {
  display: flex;
  padding: 50px;
  text-align: center;
  background: $green_header;
  color: white;
  flex-direction: column;
  width: 100%;
  button {
    position: absolute;
    right: 2em;
    top: 1.3em;
    padding: 6px 0 6px 0;
    background: $blue_login;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none;
  }
}

#core-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar {
  display: flex;
  background-color: #333;
  a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    &:hover {
      background-color: #ddd;
      color: black;
    }
    &:active {
      background-color: #ddd;
      color: black;
    }
  }
  .search-container {
    float: right;
  }
}

.footer {
  display: flex;
  padding: 0.5%;
  text-align: center;
  background: #ddd;
  position: fixed;
  bottom: 0em;
  width: 100%;
  p {
    text-align: right;
  }
}
